<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="display: block;">
    <div class="container-fluid mx-2">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                &nbsp;{{'navbar.title' | translate}}
            </a>
        </div>
        <button class="navbar-toggler" type="button" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" [collapse]="isCollapsed">
            <div class="nav navbar-nav align-items-center">
                <li class="nav-item">
                    <a routerLink="/education" class="nav-link disabled m-1">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        {{'navbar.education' | translate}}
                    </a>
                </li>
                <li class="nav-item disabled">
                    <a routerLink="/experience" class="nav-link disabled m-1">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        {{'navbar.experience' | translate}}
                    </a>
                </li>
                <li class="nav-item disabled dropdown m-1" dropdown>
                    <a class="nav-link disabled dropdown-toggle" dropdownToggle role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        {{'navbar.projects' | translate}}</a>
                    <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="http://www.tellme.com.mx/" target="_blank">Tell Me</a></li>
                        <li><a class="dropdown-item" href="#">Fashion Like</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/projects">All Projects</a></li>
                    </ul>
                </li>
                <li class="nav-item align-self-center">
                    <a href="#">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item pb-3 pb-lg-0 align-self-center">
                    <a class="m-1 px-2" style="color: whitesmoke;" style="cursor: pointer;" (click)="switchLang()">
                        <img style="border-radius: 10%;" src="../../../../assets/images/{{nextLanguage}}.svg"
                            alt="{{nextLanguage}}" height="28px">
                    </a>
                </li>
                <li class="nav-item align-self-center">
                    <a href="https://github.com/DanielOy" target="_blank" class="m-1" style="color: whitesmoke;">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/daniel-oy-mis/" target="_blank" class="m-1"
                        style="color: whitesmoke;">
                        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                    </a>

                    <a href="mailto:daniel-oy-mis@hotmail.com" class="m-1" style="color: whitesmoke;">
                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
            </div>
        </div>
    </div>
</nav>